# Força UTF-8 nos arquivos de código no working tree (Windows-friendly)
*.js   working-tree-encoding=UTF-8 text eol=lf
*.jsx  working-tree-encoding=UTF-8 text eol=lf
*.ts   working-tree-encoding=UTF-8 text eol=lf
*.tsx  working-tree-encoding=UTF-8 text eol=lf
*.css  working-tree-encoding=UTF-8 text eol=lf
*.html working-tree-encoding=UTF-8 text eol=lf
*.json working-tree-encoding=UTF-8 text eol=lf
*.go   working-tree-encoding=UTF-8 text eol=lf

# Normaliza outros arquivos de texto
* text=auto eol=lf
